
*{
    /*background-color: #e9f9f2;
    border: 1px solid;*/
}

a{
    text-decoration: none !important;
}

.navbar, .offcanvas-header, nav .container-fluid,.offcanvas-title{
    background-color: #66d2a5 !important;
}

.color-green-2{
    background-color:#1c501c !important ;
}

.ml-n1 {
    margin-top: -0.25rem !important;
}

body{
    background-color: #e9f9f2 !important;
}

.banner{
    height: 180px;
}

.stock{
    color: green;
}

.esgotado{
    color: red;
}

#tabcancelar .offcanvas-body p{
    font-size:medium;
}

.flex-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-start; /* should align items to the top of your flex row if they don't reach 100px in height */
}

.flex-container img{
    max-width: 200px;
    height:auto;
}